@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background: #141519;
    margin: 0px;
    // 
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // 
    font-family: 'Roboto', sans-serif;
    color: white;
}

:root {
    --firstColor: rgb(251, 121, 17);
}

.card {
    box-sizing: border-box;
    width: 400px;
    aspect-ratio: 1;
    padding: 26px;
    background: #171e28;
    border-radius: 32px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    &::after {
        content: '';
        transform: translateX(-40%) translateY(-40%);
        width: 800px;
        aspect-ratio: 1;
        position: absolute;
        left: 0;
        top: 0;
        background: radial-gradient(rgba(255, 255, 255, 0.15) -50%, transparent 70%);
    }
    &::before {
        content: '';
        transform: translateX(40%) translateY(40%);
        width: 800px;
        aspect-ratio: 1;
        position: absolute;
        right: 0;
        bottom: 0;
        background: radial-gradient(rgba(251, 121, 17, 0.15) -50%, transparent 70%);
    }
    .star {
        color: var(--firstColor);
        font-size: 18px;
        line-height: 0;
    }
    .star_box {
        width: 50px;
        aspect-ratio: 1;
        width: fit-content;
        background: rgba(255, 255, 255, 0.1);
        padding: 12px;
        border-radius: 50%;
    }
    .text {
        margin: 0;
        color: rgba(255, 255, 255, 0.4);
    }
    .rate_box {
        user-select: none;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .rate {
            background: rgba(255, 255, 255, 0.1);
            color: rgba(255, 255, 255, 0.5);
            width: 50px;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            z-index: 10;
            box-shadow: #222 0px 4px 8px, var(--firstColor) 0px 0px 0px -6px;
            transition: 100ms;
            transition-property: background,box-shadow;
            overflow: hidden;
            &:hover {
                background: rgba(255, 255, 255, 0.3);
            }
            &:active {
                background: var(--firstColor);
            }
            &::after {
                content: '';
                transform: translateX(-40%) translateY(-40%);
                width: 75px;
                aspect-ratio: 1;
                position: absolute;
                left: 0;
                top: 0;
                background: red;
                background: radial-gradient(rgba(255, 255, 255, 0.1) -50%, transparent 70%);
            }
            &::before {
                content: '';
                transform: translateX(40%) translateY(40%);
                width: 75px;
                aspect-ratio: 1;
                position: absolute;
                right: 0;
                bottom: 0;
                background: red;
                background: radial-gradient(rgba(251, 121, 17, 0.15) -50%, transparent 70%);
            }
        }
    }
    .submit_btn {
        user-select: none;
        width: 100%;
        min-height: 50px;
        box-sizing: border-box;
        background: var(--firstColor);
        color: white;
        border: none;
        font-weight: bold;
        font-size: 18px;
        border-radius: 32px;
        letter-spacing: 2px;
        cursor: pointer;
        position: relative;
        z-index: 10;
    }
    .bottom_box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
}

.selected {
    background: var(--firstColor) !important;
    color: white !important;
    box-shadow: #222 0px 0px 0px, var(--firstColor) 0px 0px 16px -6px !important;
}